<header>
  <nav class="navbar navbar-expand navbar-dark" style="background-color: sandybrown;">
    <div class="container">
      <a class="navbar-brand" href="/"><h3>Nagano-Cake</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <!--顧客側ログイン後後表示-->
          <% if customer_signed_in? %>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light" %>

            <!--管理者側ログイン後表示-->
          <% elsif admin_signed_in? %>
            <%= link_to "ログアウト", destroy_reader_session_path, method: :get, class: "btn btn-light" %>

              <!--ログイン前-->
          <% else %>
          <ul class="navbar-nav ml-auto">
            <li class= "nav-item">
              <%= link_to "About", about_path, class: "btn btn-light mr-3" %>
            </li>

            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "login btn btn-light" %>
            </li>
          </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>